<div class="p-4 flex items-center justify-center">
  <div
    class="lg:p-6 rounded-lg flex lg:flex-col flex-row-reverse items-center justify-center"
  >
    <div
      class="lg:w-[240px] w-[144px] lg:h-[170px] h-[144px] lg:hover:rounded-t-md hover:rounded-t-none lg:hover:rounded-tr-md lg:hover:rounded-r-none hover:rounded-r-md flex items-center justify-center text-center hover:bg-textNavColor"
    >
      <img [src]="imageSrc" alt="content" [ngClass]="className" />
    </div>

    <div
      [ngClass]="BgColor"
      class="text-center flex items-center justify-center lg:w-[240px] w-[144.8px] lg:h-[60px] h-[144px] lg:rounded-b-lg lg:rounded-tl-none rounded-l-lg"
    >
      <h3 class="text-whiteColor text-[16px]">
        <span class="font-bold text-[24px]"> {{ TARGET }} </span>by UGETIC
      </h3>
    </div>
    <div class="lg:flex flex-col items-center hidden">
      <h2 class="text-lg text-whiteColor my-2">خدمات هندسية</h2>
      <p class="text-whiteColor">engineering services</p>
    </div>
  </div>
</div>
<!-- ////////// -->
<!-- <div class="p-4 flex items-center justify-center">
  <div
    class="lg:p-6 rounded-lg flex lg:flex-col flex-row-reverse items-center justify-center"
  >
    <img
      src="assets/ECMPP.svg"
      alt="content"
      class="w-[200px] lg:h-[144px] h-[44px] ml-2"
    />
    <div
      class="bg-mainNavColor text-center lg:mt-4 lg:py-6 px-[50px] py-[70px] lg:px-32 lg:rounded-b-lg rounded-l-lg"
    >
      <h3 class="text-whiteColor text-[16px]">
        <span class="lg:text-[20px] font-bold text-[24px]"> ECMPP </span>by
        UGETIC
      </h3>
    </div>
    <div class="lg:flex flex-col items-center hidden">
      <h2 class="text-lg text-whiteColor my-2">خدمات هندسية</h2>
      <p class="text-whiteColor">engineering services</p>
    </div>
  </div>
</div> -->
<!-- ////////// -->
<!-- <div class="p-4 flex items-center justify-center">
  <div
    class="lg:p-6 rounded-lg flex lg:flex-col flex-row-reverse justify-center items-center"
  >
    <img
      src="assets/TARGET.svg"
      alt="content"
      class="lg:w-[116px] lg:h-[144px] w-[200px] h-[120px]"
    />

    <div
      class="bg-redBgColor text-center lg:mt-4 lg:py-6 px-[50px] py-[70px] lg:px-32 lg:rounded-b-lg rounded-l-lg"
    >
      <h3 class="text-whiteColor text-[16px]">
        <span class="lg:text-[20px] text-[24px] font-bold"> ZONE </span>by
        UGETIC
      </h3>
    </div>
    <div class="lg:flex flex-col items-center hidden">
      <h2 class="text-lg text-whiteColor my-2">خدمات هندسية</h2>
      <p class="text-whiteColor">engineering services</p>
    </div>
  </div>
</div> -->
