<section class="flex flex-col items-center justify-center h-screen">
  <div class="w-[75%]">
    <h1 class="lg:text-2xl text-[16px] text-whiteColor text-center">
      الشروط والبنود القانونية الخاصة يو جي تك مصر
    </h1>

    <div
      class="bg-mainBg flex lg:flex-row flex-col-reverse items-center my-5 p-3 rounded-md"
    >
      <p class="text-[16px] text-whiteColor px-10 text-center">
        يخضع استخدام الخدمات التي تقدمها يو جي تك مصر للشروط والبنود التالية.
        عند قيامكم بزيارة الموقع الالكتروني وقبولكم للشروط والبنود المبينة فيما
        يلي أدناه، فانتم ملزمون أمام القانون بالشروط والبنود المنصوص عليها في
        هذه الوثيقة.
      </p>
      <img src="assets/testimonial-bg.svg" />
    </div>
    <!-- /// -->
    <app-text />
    <app-text />
  </div>
</section>
<!-- <span class="material-symbols-outlined"> arrow_forward_ios </span> -->
