<section
  class="flex flex-col items-center lg:mt-0 mt-10 justify-center h-screen"
>
  <div class="w-[75%]">
    <h1
      class="lg:text-2xl md:text-[16px] text-[14px] dark:text-whiteColor text-blackColor text-center"
    >
      الشروط والبنود القانونية الخاصة يو جي تك مصر
    </h1>

    <div
      class="dark:bg-mainBg bg-whiteColor dark:border-none border-b border-x dark:shadow-none shadow-lg flex lg:flex-row flex-col-reverse items-center my-5 p-3 rounded-md"
    >
      <p
        class="lg:text-[16px] text-[13px] dark:text-whiteColor text-blackColor px-10 text-center"
      >
        يخضع استخدام الخدمات التي تقدمها يو جي تك مصر للشروط والبنود التالية.
        عند قيامكم بزيارة الموقع الالكتروني وقبولكم للشروط والبنود المبينة فيما
        يلي أدناه، فانتم ملزمون أمام القانون بالشروط والبنود المنصوص عليها في
        هذه الوثيقة.
      </p>
      <img src="assets/testimonial-bg.svg" class="lg:mb-0 mb-2" />
    </div>
    <!-- /// -->
    <app-text />
    <app-text />
  </div>
</section>
<!-- <span class="material-symbols-outlined"> arrow_forward_ios </span> -->
