<section
  class="flex flex-col items-center lg:mt-4 md:mt-16 mt-20 justify-center h-screen"
>
  <h1 class="lg:text-2xl text-xl lg:mb-0 mb-4 text-whiteColor">
    انضم الي فريق العمل
  </h1>
  <form>
    <div
      class="grid lg:grid-cols-2 grid-cols-1 lg:gap-y-6 gap-y-2 gap-x-10 lg:mt-10 mt-4"
    >
      <app-input
        [title]="'الوظيفية المتقدم لها'"
        [type]="'text'"
        [name]="'job'"
        [id]="'job'"
      />
      <app-input
        [title]="' الاسم'"
        [type]="'text'"
        [name]="'name'"
        [id]="'name'"
      />
      <app-input
        [title]="' الهاتف'"
        [type]="'phone'"
        [name]="'phone'"
        [id]="'phone'"
      />
      <app-input
        [title]="' البريد الالكتروني'"
        [type]="'email'"
        [name]="'email'"
        [id]="'email'"
      />
      <app-input
        [title]="' تاريخ الميلاد'"
        [type]="'date'"
        [name]="'date'"
        [id]="'date'"
      />
      <app-input
        [title]="'  المؤهلات'"
        [type]="'text'"
        [name]="'qualif'"
        [id]="'qualif'"
      />
    </div>
    <div class="flex flex-col relative">
      <input
        type="file"
        class="bg-transparent absolute opacity-0 z-10 outline-none inset-0 border border-mainBg my-6 rounded-md py-4 lg:px-10 px-6"
        name="job"
        id="job"
      />
      <div
        class="border-2 text-sm border-dashed flex flex-col text-uploadImg items-center justify-center border-mainBg my-6 rounded-md lg:py-4 py-2 lg:px-10 px-6"
      >
        <img src="assets/icons.svg" />
        <p>ارفع ملفك الشخصي</p>
      </div>
    </div>
    <div class="flex items-center justify-center">
      <button
        class="border border-borderColor font-bold lg:text-[16px] text-[14px] py-3 text-center lg:w-40 w-full rounded-md text-borderColor"
      >
        إرسال
      </button>
    </div>
  </form>
</section>
