<section class="flex items-center lg:mt-0 mt-14 justify-center min-h-screen h-full">
  <div class="">
    <div class="flex lg:flex-row flex-col-reverse gap-2 text-center">
      <app-main-comp
        [TARGET]="'TARGET'"
        [imageSrc]="'assets/ZONE.svg'"
        [BgColor]="'bg-blackColor'"
        [className]="'lg:w-[141px] w-[200px] h-[141px]'"
      />
      <app-main-comp
        [TARGET]="'ECMPP'"
        [imageSrc]="'assets/ECMPP.svg'"
        [BgColor]="'bg-mainNavColor'"
        [className]="'w-[200px] lg:h-[144px] h-[44px] ml-2'"
      />
      <app-main-comp
        [TARGET]="'ZONE'"
        [imageSrc]="'assets/TARGET.svg'"
        [BgColor]="'bg-redBgColor'"
        [className]="'lg:w-[116px] lg:h-[144px] w-[200px] h-[120px]'"
      />
    </div>
  </div>
</section>
