<section class="flex items-center justify-center">
  <div class="container">
    <div class="flex justify-between text-center ">
      <!-- //// -->
      <div class="p-4 flex items-center justify-center">
        <div class="p-6 rounded-lg flex flex-col items-center justify-center">
          <img
            src="assets/ZONE.svg"
            alt="content"
            class="w-[141px] h-[141px]"
          />
          <div class="bg-blackColor text-center mt-4 py-6 px-32 rounded-b-lg">
            <h3 class="text-whiteColor text-[16px]">
              <span class="text-[20px] font-bold"> TARGET </span>by UGETIC
            </h3>
          </div>
          <h2 class="text-lg text-whiteColor my-2">خدمات هندسية</h2>
          <p class="text-whiteColor">engineering services</p>
        </div>
      </div>
      <!-- ////////// -->

      <div class="p-4  flex items-center justify-center">
        <div class="p-6 rounded-lg flex flex-col items-center justify-center">
          <img
            src="assets/ECMPP.svg"
            alt="content"
            class="w-[200px] h-[144px]"
          />
          <div class="bg-mainNavColor text-center mt-4 py-6 px-32 rounded-b-lg">
            <h3 class="text-whiteColor text-[16px] ">
              <span class="text-[20px] font-bold"> TARGET </span>by UGETIC
            </h3>
          </div>
          <h2 class="text-lg text-whiteColor my-2">خدمات هندسية</h2>
          <p class="text-whiteColor">engineering services</p>
        </div>
      </div>
      <!-- ////////// -->

      <div class="p-4 flex items-center justify-center">
        <div class="p-6 rounded-lg flex flex-col justify-center items-center">
          <img
            src="assets/TARGET.svg"
            alt="content"
            class="w-[116px] h-[144px]"
          />
          <div class="bg-redBgColor text-center mt-4 py-6 px-32 rounded-b-lg">
            <h3 class="text-whiteColor text-[16px]">
              <span class="text-[20px] font-bold"> TARGET </span>by UGETIC
            </h3>
          </div>
          <h2 class="text-lg text-whiteColor my-2">خدمات هندسية</h2>
          <p class="text-whiteColor">engineering services</p>
        </div>
      </div>
    </div>
  </div>
</section>
