<section class="flex items-center justify-center h-screen">
  <div
    class="bg-mainBg flex items-center justify-center flex-col lg:py-16 py-6 w-[85%]"
  >
    <h2
      class="lg:text-[26px] md:text-[20px] text-[15px] text-whiteColor lg:mb-[34px] mb-4"
    >
      UGETIC نبذة عن
    </h2>
    <p
      class="lg:text-[18px] md:text-[15px] text-[13px] text-whiteColor text-center lg:py-10 py-0 mb-4 lg:mb-0 lg:px-24 px-10"
    >
      منصـة أبشـر أعمـال الإلكترونيـة تخـدم أصحـاب المؤسسـات فـي المملكـة،
      وتمكنهـم مـن تنفيـذ تعاملاتهم الإلكترونيـة الخاصـة بالعمالـة بشـكل سـريع
      وآمـن. تم إطلاق منصة أبشر أعمال في عام 2017م، مشتملة على أهم الخدمات التي
      يحتاجها عملاء المنصة. وفـي هـذا الدليـل تـم اسـتعراض الخدمـات
      والاسـتعلامات الإلكترونيـة علـى منصـة أبشـر أعمـال، ونأمـل أن يكـون هـذا
      الدليـل مرجعـا ً مفيـدا للمسـتخدمين لتعريفهـم بالخدمـات الحاليـة مـع
      حرصنـا علـى تحديثـه بشـكل دوري ليغطـي الخدمـات الجديـدة.
    </p>
  </div>
</section>
