<section class="flex items-center justify-center lg:mt-14 mt-0 h-screen">
  <div
    class="dark:bg-mainBg bg-whiteColor dark:border-none border-b border-x dark:shadow-none shadow-lg flex  justify-between flex-col px-12 py-4 w-[75%]"
  >
    <h1 class="lg:text-[16px] text-[14px] font-bold dark:text-whiteColor text-blackColor text-end">فريق العمل</h1>
    <span class="h-[1px] my-2 w-full border text-whiteColor"></span>
    <app-team1 />
    <span class="h-[1px] my-2 w-full border lg:block hidden text-whiteColor"></span>
    <app-team1 [className]="'lg:flex hidden'" />
    <span class="h-[1px] my-2 w-full border lg:block hidden text-whiteColor"></span>
    <app-team1 [className]="'lg:flex hidden'" />
  </div>
</section>
