<div
  [ngClass]="className"
  class="flex lg:flex-row flex-col-reverse lg:mt-8 mt-0 lg:mb-2 mb-0 items-center"
>
  <img src="assets/Profile.svg" class="w-[154px] h-[110px]" />
  <div class="text-end">
    <h3 class="md:text-[14px] text-[12px] font-bold text-lineColor">م/ محمد الفقي</h3>
    <h2 class="md:text-[14px] text-[12px] py-2 font-bold text-lineColor">مدير مكتب UGETIC</h2>
    <p class="mdtext-[14px] text-[12px] font-bold text-textColor lg:mb-0 mb-3 lg:pl-40 pl-0">
      شغل محمد عبد الله عدة مناصب داخل ڤودافون وتنوعت مسئولياته، حيث كان رئيس
      قطاع
      <span class=""
        >التسويق والمبيعات والمسئول عن وضع استراتيجيات وتسويق المنتجات والخدمات
        التي تقدمها ڤودافون</span
      >
    </p>
  </div>
</div>
