<header class="fixed top-0 right-0 left-0">
  <div
    class="md:px-8 px-4 mx-auto flex flex-wrap py-6 items-center justify-between"
  >
    <div class="flex overflow-hidden gap-2 cursor-pointe">
      <div
        class="flex lg:hidden items-center lg:items-center lg:justify-start"
        (click)="showitems()"
      >
        <span class="material-symbols-outlined text-whiteColor cursor-pointer"> menu </span>
      </div>
      <!-- //// -->

      <div
        class="flex items-center justify-start border border-whiteColor lg:px-10 px-1 py-1 lg:rounded-xl rounded-full"
      >
        <span class="material-symbols-outlined cursor-pointer text-whiteColor">
          wb_sunny
        </span>
      </div>
    </div>

    <nav
      appBg
      class="lg:flex flex-wrap lg:flex-row-reverse hidden justify-between items-center lg:w-[65%] w-[55%] lg:text-[20px] text-[14px]"
    >
      <a routerLink="mainPage" [routerLinkActive]="'active'">الرئيسية</a>
      <a routerLink="about" [routerLinkActive]="'active'">عن يو جي تك</a>
      <a routerLink="team" [routerLinkActive]="'active'">فريق العمل</a>
      <a routerLink="job" [routerLinkActive]="'active'">الوظيفة</a>
      <a routerLink="contact" [routerLinkActive]="'active'">تواصل معنا</a>
      <a routerLink="rights" [routerLinkActive]="'active'"> الشروط و الاحكام</a>
    </nav>

    <div class="inline-flex items-center justify-center">
      <img
        [src]="'assets/Logo.svg'"
        class="lg:w-[130px] lg:h-[70px] w-[110.56px] h-[56.77px]"
      />
    </div>
  </div>
</header>
<!-- S -->

<div
  *ngIf="isItemsShowed"
  class="z-11 fixed inset-0 backdrop-blur-[8px] bg-blackColor top-0 right-0 left-0 w-[176px] h-screen"
>
  <div class="flex items-center justify-center py-4">
    <img
      [src]="'assets/Logo.svg'"
      class="lg:w-[130px] lg:h-[70px] w-[110.56px] h-[56.77px]"
    />

    <span
      class="material-symbols-outlined cursor-pointer text-whiteColor"
      (click)="closeNav()"
    >
      close
    </span>
  </div>
  <nav
    class="flex flex-col items-center justify-center mt-[50px] gap-[35px] text-[16px] text-whiteColor"
  >
    <a routerLink="mainPage" [routerLinkActive]="'activeNav'">الرئيسية</a>
    <a routerLink="about" [routerLinkActive]="'activeNav'">عن يو جي تك</a>
    <a routerLink="team" [routerLinkActive]="'activeNav'">فريق العمل</a>
    <a routerLink="job" [routerLinkActive]="'activeNav'">الوظيفة</a>
    <a routerLink="contact" [routerLinkActive]="'activeNav'">تواصل معنا</a>
    <a routerLink="rights" [routerLinkActive]="'activeNav'">
      الشروط و الاحكام</a
    >
    <a>تواصل معنا</a>
    <a class="flex gap-4">
      <h1>+201011115145</h1>
      <img [src]="'assets/phone.svg'"
    /></a>
    <a class="flex gap-4">
      <h1>+infougetic.com</h1>
      <img [src]="'assets/email.svg'"
    /></a>
  </nav>
</div>
