.active {
  color: #3b6bf2;
  position: relative;
}
.active::after {
  background-color: #3b6bf2;
  margin-top: 12px;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  padding-bottom: 2px;
}
.activeNav {
  color: #FFFFFF;
  position: relative;
}
.activeNav::after {
  background-color: #FFFFFF;
  margin-top: 12px;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  padding-bottom: 2px;
}
